<!-- Modal -->
<div
  class="modal fade"
  id="updateData"
  tabindex="-1"
  aria-labelledby="updateDataLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="updateDataLabel">Update Data</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <form
        autocomplete="off"
        action="/admin/updateBank?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div class="form-group">
            <label for="nameBank">Nama Bank</label>
            <input
              required
              type="text"
              class="form-control name-bank-update"
              id="nameBank"
              name="nameBank"
            />
          </div>
          <div class="form-group">
            <label for="noRek">Nomor Rekening</label>
            <input
              required
              type="text"
              class="form-control norek-update"
              id="noRek"
              name="noRekening"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
            />
          </div>
          <div class="form-group">
            <label for="name">Nama Penerima</label>
            <input
              required
              type="text"
              class="form-control name-update"
              id="name"
              name="name"
            />
          </div>
          <div class="form-group">
            <label for="gambar">Gambar Bank</label>
            <div id="gambarAwal"></div>
          </div>
          <div class="form-group">
            <label for="gambar">Gambar</label>
            <div hidden class="mb-2" id="previewImageUpdate"></div>
            <input
              accept="image/*"
              type="file"
              class="form-control"
              id="gambar-update"
              name="gambar"
            />
          </div>
          <div class="form-group">
            <input
              hidden
              type="text"
              class="form-control id-update"
              id="nameCategory"
              name="id"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-warning">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const fileUploadUpdate = document.getElementById("gambar-update");
  fileUploadUpdate.addEventListener("change", (event) => {
    const prevImage = document.getElementById("previewImageUpdate");
    var image = ``;
    for (let index = 0; index < event.target.files.length; index++) {
      const element = event.target.files[index];
      image += `
            <img class="img-fluid position-relative border rounded p-2" src="${URL.createObjectURL(
              event.target.files[index]
            )}" alt="file${index + 1}" />`;
    }
    if (event.target.files.length > 0) {
      prevImage.innerHTML = image;
      prevImage.removeAttribute("hidden");
    } else {
      prevImage.setAttribute("hidden", true);
    }
  });
</script>
