<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Nama Bank</th>
            <th class="text-center">Nomor Rekening</th>
            <th class="text-center">Nama Penerima</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td class="text-center">Bank Mandiri</td>
            <td class="text-center">123123123</td>
            <td class="text-center">Ricky Ardiansah</td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="text-center">Bank Jateng</td>
            <td class="text-center">32123213123</td>
            <td class="text-center">Ricky Ardiansah</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
