<!-- Footer -->
<footer class="sticky-footer bg-white">
      <div class="container my-auto">
      <div class="copyright text-center my-auto">
      <span>Copyright &copy; Halan<sub>2</sub> | R1cky 2023</span>
      </div>
      </div>
</footer>